$breakpoints: stewie 18.74em, brian 31.25em, chris 48.875em, lois 60em, peter 71.875em;

$primary: red;
$secondary: blue;
$tertiary: green;

$black: #1f1f1f;
$white: #f4f4f4;


$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$helvetica: "Helvetica Neue", Helvetica, arial, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

$debugmode: false;