*,
*:before,
*:after {
	@include box-sizing(border-box);
  	text-rendering: optimizeLegibility;
}

html {
	background: $white;
	color: $black;
	font-size: 62.5%;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	@include scrollbar(0.5em, gray);
}

body {
	font: 300 16px/1.4 $helvetica;
	margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}



[hidden] {
    display: none;
}
