audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


img {
    border: 0; 
    -ms-interpolation-mode: bicubic; 
}


svg:not(:root) {
    overflow: hidden;
}



figure {
    margin: 0;
}